@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  font-family: "Poppins", sans-serif;
  -moz-box-sizing: border-box;
  -webkit-kit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.App {
  position: relative;
}

/* NAVIGATION */
.navbar {
  font-size: 20px;
  padding-bottom: 25px;
  padding-top: 20px;
  background-color: #FEFDF3;
}
.navbar #logo-title {
  color: #fd9bb4;
  padding-right: 20px;
  padding-left: 80px;
  font-size: 28px;
  font-weight: bold;
}
.navbar #logo {
  /*this makes the scroll bar disappear on hover for some reason
  position:absolute;*/
  padding-left: 20px;
  margin-top: 22px;
}
.navbar .icon {
  margin-left: 10px;
}
.navbar .icon:hover {
  opacity: 0.6;
}
.navbar .iconLinks {
  float: right;
  margin-right: 20px;
  margin-top: 5px;
}
.navbar .nav-links .active {
  color: #fd9bb4;
}
.navbar .nav-links a {
  text-decoration: none;
  color: #616161;
  padding-left: 40px;
  transition: 0.3s;
}
.navbar .nav-links a:hover {
  color: #fd9bb4;
}

/* FOOTER */
.footer {
  padding: 10px;
  position: absolute;
  margin-top: 25vw;
  right: 0;
  width: 100%;
  background-color: #c5936a;
  text-align: center;
}