@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  font-family: "Poppins", sans-serif;
  background-color: #FEFDF3;
}

.navbar {
  position: relative;
  float: left;
  font-size: 22px;
  margin-top: 25px;
  padding-bottom: 20px;
}
.navbar #logo-title {
  color: #fd9bb4;
  padding-right: 20px;
  padding-left: 80px;
  font-size: 28px;
  font-weight: bold;
}
.navbar img {
  margin-left: 20px;
  position: absolute;
  margin-top: -8px;
}
.navbar a {
  color: #414141;
  text-decoration: none;
  padding: 20px;
  transition: 0.3s;
}
.navbar a:hover {
  color: #727272;
}
.navbar .navlinks {
  margin-top: 50px;
}

.home {
  /*Setting container to relative, and child divs to absolute means the
  divs scale together*/
  position: relative;
}
.home .img-content {
  position: absolute;
  margin-left: 10%;
}
.home .img-content p {
  margin-top: -115%;
  margin-bottom: 20px;
  background: none;
  /*vw is % of viewport width*/
  font-size: 6vw;
  font-weight: bold;
  color: #414141;
}
.home button {
  color: #5a5a5a;
  border: 2px solid #ffdae4;
  border-radius: 30px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #FEFDF3;
  transition: 0.3s;
}
.home button:hover {
  background-color: #ffdae4;
  color: #414141;
  cursor: pointer;
}
.home .bestseller-head {
  position: absolute;
  width: 100%;
  background-color: #c5936a;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: -8px;
}
.home .bestseller-head * {
  background-color: #c5936a;
}
.home .bestseller-head p {
  color: #FEFDF3;
  margin-left: 20px;
}
.home .bestseller-head #shop-best {
  float: right;
  padding-right: 20px;
}