@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import 'variables';

* {
    font-family:"Poppins", sans-serif;
    
    -moz-box-sizing: border-box;
    -webkit-kit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
      
}

.App{
    position: relative;
}

/* NAVIGATION */
.navbar {
    font-size:20px;
    padding-bottom:25px;
    padding-top:20px;
    background-color: $offWhite;
    // /overflow:hidden;

    #logo-title{
        color:$darkPink;
        padding-right:20px;
        padding-left:80px;
        font-size:28px;
        font-weight: bold;
    }

    #logo{
        /*this makes the scroll bar disappear on hover for some reason
        position:absolute;*/
        padding-left:20px;
        margin-top:22px;
        
    }

    .icon{
        margin-left:10px;
        &:hover{
            opacity:0.6;
        }
    }

    .iconLinks{
        float:right;
        margin-right:20px;
        margin-top:5px;
    }

    .nav-links {
        
        .active {
            color:$darkPink;
        }
        a{
            text-decoration: none;
            color:rgb(97, 97, 97);
            padding-left:40px;
            transition: 0.3s;
            &:hover{
                color:$darkPink;
            }
        }
    }
}

/* FOOTER */
.footer{
    padding:10px;
    position:absolute;
    //bottom:0;
    margin-top: 25vw;
    right:0;
    width:100%;
    background-color:$cuteBrown;
    text-align:center;
    //height:20px;
}
